@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap'); /* peguei a fonte do google.com/fonts -> embed. Coloquei no h2 do cabeçalho, font-family */
@font-face {
    font-family: 'fontelogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
    font-family: Arial, sans-serif;
}

div#interface {
    width: 1100px;    
    background-color: white;
    margin: -20px auto 0px auto; /* cima, dir, baixo, esq. Espaço externo ao objeto */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5); /*deslocamento lateral, vertical, espalhamento da sombra e cor */
    padding: 10px 40px 10px 40px; /* Espaço interno ao objeto, coloca as 4 margens ou só uma se for a mesma pra todas */
}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header#cabecalho img#icone {
    position: absolute;
    left: 1085px;
    top: 80px;
}

header#cabecalho {
    border-bottom: 1px solid #606060; /*largura da borda, estilo, cor*/
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px /*desloc horizontal*/ 90px /*desloc vertical*/;
}

header#cabecalho h1 {
    font-family: 'fontelogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 1);
    /* desloc horizontal, vertical, espalhanto, cor */
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

/* Formatação para foto com legenda */
figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    padding: 10px;
    color: white;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

/* Formatação do menu */
nav#menu {
    display: block;    
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 610px;    
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;   
}

nav#menu h1{
    display: none;
}

nav#menu a {
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover {
    color: white; 
    text-decoration: underline; 
}

/* Formatação da lateral */
section#corpo {
    display: block;
    float: left;
    width: 580px;
    border-right: 1px solid #606060;
    padding-right: 40px;
}

article#noticia-principal h2 {
    color: #606060;
    background-color: #dddddd;
    font-size: 14pt;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
    
}

header#cabecalho-artigo h1 {
    font-family: 'fontelogo', sans-serif;
    font-size: 22pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

header#cabecalho-artigo h2 {
    font-size: 15px;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
    padding: 5px 0px 5px 0px;
}

header#cabecalho-artigo h3 {
    font-size: 15px;   
    color: #606060;
}

.direita {
    text-align: right;
}

table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-right: auto;
    margin-left: auto;        
}

table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

table#tabelaspec td.ce {
    background-color: #606060;
    vertical-align: top;
    text-align: right;
    color: #ffffff;
    font-weight: bold;
}

table#tabelaspec td.cd {
    background-color: #cecece;
    text-align: left;
}

table#tabelaspec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabelaspec caption span {
    font-size: 8pt;
    display: block;
    float: right;
    margin-top: 10px;
    color: black;
}

div#video-01 video {
    text-align: center;
    width: 100%;
}

aside#lateral {
    display: block;
    float: right; /*para fazer o bloco flutuar preciso do comando anterior*/
    width: 415px;
    background-color: #dddddd;
    margin: 33px 0px 0px 0px;
    padding: 0px 15px 0px 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

aside#lateral h1 {
    font-family: 'fontelogo', sans-serif;
    font-size: 22pt;
}

aside#lateral h2 {
    font-size: 13pt;
    color: #ffffff;
    background-color: #606060;
    padding: 5px 5px 5px 10px;
    margin: 10px 0px 0px 0px;
}

div#video-02 video {
    width: 413px;    
}

footer#rodape {
    clear: both; /* vai fazer com que o footer apareça embaixo das configurações do aside e do section*/
    border-top: 1px solid #606060; 
}

footer#rodape p {
    text-align: center;
    margin-bottom: 0px;
}
